.table-title {
    font-size: 4rem;
    padding-top:2%;
    color: #FFE81F;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width:70%;
}

table{
    border-collapse: collapse;
    width: 100%;
    background-color: #282424;
}

th,td {
    color: #FFFFFF;
    text-align: left;
    padding: 2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    background: #282424;
    text-align: left;
    color: #FFE81F;
  }

tr:nth-child(ODD) td {
    background: #403c3c;
}

.loadingGif {
    max-width:100px;
    height: auto;
}